* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 60px;
}

.searchBox {
    color: dimgray;
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
    justify-content: flex-start;
    width: 100%;
}
.searchBox label {
    width: 10%;
}
.searchBox input {
    border-radius: 6px;
    
    width: 90%;
}

.item {
    border: 1px solid dimgray;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 150px;
    padding: 10px;
    overflow: hidden;
}

.item p {
    font-size: 0.75rem;
    margin: 5px;
    text-align: center;
}
.item img {
    display: block;
    max-height: 150px;
    margin: 10px auto;
}

.card {
    display: flex;
    flex-wrap: wrap;
}